body {
  font-size: 18px;
  width: 800px;
  margin: 50px auto;
}
.carousel {
  margin: 50px auto;
  height: 350px;
  width: 500px;
  overflow: hidden;
  border: 5px;
  position:
}
.carousel ul {
  width: 2500px;
  list-style: none;
}
.carousel ul li {
  width: 500px;
  height: 350px;
  list-style: none;
  float: right;
}
